@charset "utf-8";

header{
    text-align: center;
}
.headerButton{
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    display: none;
}

#gameView{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    justify-items: center;
}

#playerNamesMenu{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#playerNamesMenu > input{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#gameBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
}

.playerScore{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.vertical{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tile{
    display: flex;
    font-size: 7em;
    align-items: center;
    justify-content: center;
}

.hidden{
    visibility: hidden;
}

